<div class="bg3-dialog-wrapper">
    <div class="bg3-header">
        <img src="{{npcImg}}" class="bg3-portrait npc-portrait">
        <div class="header-info">
            <h2 class="bg3-npc-name">{{npcName}}</h2>
            <div class="rel-indicator status-{{relationshipStatus.class}}" title="Stimmung: {{relationshipStatus.name}}"></div>
        </div>
    </div>
    
    <div class="bg3-body">
        <p class="bg3-main-text">{{{text}}}</p>
        
        {{#if showInsight}}
            <div class="bg3-insight-box">
                <i class="fas fa-eye"></i> <em>{{{insightText}}}</em>
            </div>
        {{/if}}
    </div>

    <div class="bg3-footer">
        <div class="bg3-pc-row">
            {{#if pcImg}}
                <img src="{{pcImg}}" class="bg3-portrait pc-portrait" title="{{pcName}}">
            {{/if}}
            
            <div class="bg3-options-container">
                <span class="bg3-pc-name">
                    {{#if isEndNode}}
                        Gespräch beendet:
                    {{else}}
                        {{#if pcName}}{{pcName}} antwortet:{{else}}Deine Antwort:{{/if}}
                    {{/if}}
                </span>
                
                <ul class="bg3-options-list">
                    {{#each options as |opt i|}}
                        <li class="dialog-option {{#if ../isObserver}}disabled{{/if}}" data-index="{{i}}">
                            <span class="opt-number">{{add i 1}}.</span> {{opt.displayHtml}}
                        </li>
                    {{/each}}
                    
                    {{#if isEndNode}}
                        <li class="dialog-close-btn {{#if isObserver}}disabled{{/if}}">
                            <i class="fas fa-sign-out-alt"></i> Verlassen
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>

        {{#if isObserver}}
            <p style="color: #c1a35b; text-align: center; margin-top: 15px; font-weight: bold;">
                <i class="fas fa-eye"></i> GM-ANSICHT: Warte auf Spieler...
            </p>
        {{/if}}
    </div>
</div>